---
// Component Imports
import MainHead from '../components/MainHead.astro';
import Button from '../components/Button/index.jsx';
import Footer from '../components/Footer/index.jsx';
import PortfolioPreview from '../components/PortfolioPreview/index.jsx';
import InverseText from "../components/InverseText/index.jsx";
import { Image } from 'astro:assets';
import headshot from "../images/Headshot.png"
import Socials from "../components/Socials.astro"
import PurpleRect from "../components/purple-rect.astro"
import ProjectCard from "../components/ProjectCard.astro"
import YellowTriangle from "../components/yellow-triangle.astro"

// Data Fetching: List all Markdown posts in the repo.
const projects = await Astro.glob('./project/**/*.md');
const featuredProject = projects[0]

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
	<head>
		<MainHead
			title="Josh Kennedy"
			description="My Portfolio of projects 🚀"
		/>
		<style lang="scss">
			.mesh-gradient {
				/* background-color:white; */
				background-image:
					/* radial-gradient(ellipse at 100% 100%, #fff 50px, transparent 70%), */
				radial-gradient(at -20% -10%, #FFDF2D 0px, transparent 40%),
				radial-gradient(ellipse at 110% 60%, #5635EA77 0px, transparent 40%),
				radial-gradient(at 0% 50%, #30D3A077 0px, transparent 60%);
			}



			/* .hero { */
			/* 	display:grid; */
			/* 	grid-template-columns: 1fr minmax(auto, calc(1100px * .6)) minmax(300px, calc(1100px *.4)) 1fr; */
			/* 	grid-template-rows:auto auto 1fr; */
			/* 	gap:1rem; */
			/* } */

			.hero{
				position:relative;
				& > *:not(.shapes) {
					position:relative;	
				}
				display:flex;
				padding:20px;
				overflow:visible;
				overflow-x:hidden;
				gap:2rem;
				justify-content:space-between;

				@media(max-width:600px){

					padding-inline:0px 1rem;
				}
			}
			
			
			.hero .left{
				margin-left:auto;
				width:100%;
				max-width:calc(1100px * .6);
				@media(max-width:900px){
					margin-left:0px;
					/* width:120px; */
					display:flex;
					h1 {
						white-space:nowrap;
						line-height:1;
						text-orientation:mixed;
						writing-mode:vertical-rl;
						margin-bottom:20px;
					}
					.socials-wrapper {
						flex-direction:column;
						align-items:flex-start;
						gap:1rem;
					}
					br{
						display:none;
					}
				}
				@media(max-width:600px){
					padding-inline:0;
					flex-direction:column;		
					max-width:120px;
					h1{
		font-size: 80px;
					}
					.socials-wrapper{
						padding-inline:.57rem;
					}
				}
			}
			.right {
				margin-right:auto;
				
				width:100%;
				max-width:calc(1100px * .4);
				min-width:300px;
				@media(max-width:600px){
					margin-right:0;
					flex:1;
					min-width:calc(100% - (120px));
					img{
						display:block;
						/* padding-left:20vw; */
						margin-right:-20vw;
						max-width:unset;
						width:calc(100% + 20vw);	
					}
					.bio{
						font-size: 24px;
					}
				}
			}

			h1 {
				/* grid-column:2/3; */
				font-size: 120px;
				margin:0;
			}
			img {
				/* grid-row:1/4; */
				/* grid-column:3/4; */
				width:100%;
				max-width:100%;
			}
			.bio {
				/* grid-column:3/4; */
				font-size: 26px;
				
				line-height:1.5;
			}

			.hero .socials-wrapper {
				display:flex;
				font-size: 3rem;
				gap:3rem;
				align-items:center;
				--link-color:var(--purple);
				--link-h-color:var(--green);
			
			}
			.hero {
				padding-bottom:300px;
			}
			.shapes{
				position:absolute;	
				inset:0;
			}
			.rect {
				position:absolute;
				left:25%;
				max-width:350px;
				width:100%;
				bottom:0%;
			}
			.triangle {
				max-width:270px;
				position:absolute;
				left:0;
				bottom:25%;
				@media(max-width:600px){
					bottom:20%;
					max-width:200px;
					left:-20%;
				}
			}

			.featured-projects {
				display:grid;
				gap:1rem;
				@media(min-width:600px){
					grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));
					justify-items:space-between;
				}
			}
		</style>
	</head>
	<body>
		<header class="hero mesh-gradient">
			<div class="shapes">
				<div class="rect">
			<PurpleRect />
			</div>
			<div class="triangle">
			<YellowTriangle />
			</div>
			</div>
			<div class="left">
				<h1>Josh<br/> Kennedy</h1>
				<div class="socials-wrapper">
					<Socials />
				</div>
			</div>
			<div class="right">
				<Image src={headshot} alt="Josh Kennedy's beautiful smile 😉"/>
				<p class="bio">Hello, I’m Josh Kennedy—a full-stack web developer with a strong focus on user experience. I am a husband, father of two, and a lifelong learner.</p>
			</div>

		</header>
		<main class="wrapper mt4 mb4">
				<section class="section">
					<h2 class="bah">Projects and Client Work</h2>
					<div class="featured-projects three-col">
						{["sendmagnet", "plandout", "interactive-maps"].map((slug)=>(
							<ProjectCard slug={slug}/>
						))}
					</div>
				</section>
				<section class="section">
				</section>
		</main>
		<Footer />
	</body>
</html>
